body{
    background-color: #000000;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 47px;
}

.header {
    height: calc(var(--header-top-height) + var(--header-bottom-content));
}

.header-top-content{
    background-color: black;
    height: var(--header-top-height);
}

.header-line {
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.logo-link{
  text-decoration: none;
}

.name-logo {
    display: flex;
    align-items: center;
}

.logo-image{
    height: 32px;
    width: 32px;
}

.website-name{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 25px;
    padding: 0px 11px;
}

.left-name {
    color: #fff;
}

.right-name {
    color: #5B9DFF;
}

.search-input{
    display: flex;
    align-items: center;
    position: relative;
    width: 464px;
    height: 35px;
    box-sizing: border-box;
}

.search-text{
    width: 100%;
    height: 100%;
    background-color: #1C1C1C;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 7px 27px;
}

.search-text:focus{
    outline: none;
}

.search-text::placeholder{
    color: #928F8F;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
}

.search-logo{
    position: absolute;
    right: 22px;
 
}

.search-logo-image{
    width: 17px;
    height: 17px; 
}

.header-buttons{
    display: flex;
}

.head-button{
    margin-left: auto;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    width: 81;
    height: 35;
    border-radius: 5px;

    display: flex; 
    align-items: center;
    justify-content: center;
}

.header-buttons-container{
  display: flex;
  align-items: center;
}

.shop-button-container{
  position: relative;
  display: flex;
  align-items: start;
  padding-right: 20px;
}

.shop-button{
  position: relative;
  width: 30px;
  height: 32px;
}

.cart-item-count{
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: #A50808;
  border-radius: 50%;

  font-weight: 600;
  font-size: 10px;

  align-items: center;
  justify-content: center;
  color: var(--color-light);
}

.reg-button{
    margin-left: auto;
    background-color: #fff;
    color: #5B9DFF;

    margin-left: 20px;
}

.log-button{
    background-color: #5B9DFF;
    color: #fff;
    
}

.header-bottom-content{
    display: flex;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.6); */
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,1));
    height: var(--header-bottom-content);
    z-index: 1;
    position: relative;
}

.nav-container{
    display: flex;
    padding-top: 2px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    height: 100%;
    box-sizing: border-box;
}

.nav-item{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: var(--color-light);
    text-decoration: none;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
}

.is-current{
    box-shadow: 0 -2px 0 0 var(--color-blue);
}

.main-content{
    width: 100%;
    z-index: 0;
    position: relative;
    margin-top: calc((-1) * var(--header-bottom-content));
}

.top{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 20%), 
                      url(../images/banners/main-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  height: 615px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.top-container-content{
  width: 100%;
  display: flex;
  justify-content: space-between; 

}

.top-inner{

    width: 606px;
    height: 264px;
    font-weight: 500;
    color: var(--color-light);
    display: flex;
    flex-direction: column;

    margin-left: 49px;
    margin-top: 131px;
}

.top-title{
    font-size: 60px;
    margin-bottom: 30px;
    max-width: 606px;

}

.top-text{
    font-size: 16px;
    margin-bottom: 220px;
    max-width: 606px;
}

.highlighted-buy-section{
  margin-top: 293px;
  margin-right: 47px;
  width: 394px;
  height: 122px;

}

.highlighted-price{
    display: flex;
    justify-content: space-around;
    height: 60px;
}

.buy-button{
    width: 232px;
    background-color: #000000;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.highlighted-button{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 21px;
    color: var(--color-light);
    height: 100%;
    width: 100%;
}

.highlighted-discount{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 71px;
    background-color: #237516;
    color: var(--color-light);
    font-weight: 500;
    font-size: 20;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.price-discount{
  display: flex;
  flex-direction: column;
  padding-left: 19px;
  font-weight: 600;
}

.first-price{
    font-size: 21px;
    color: var(--color-light);
}

.second-price{
    font-size: 21px;
    color: #A19E9E;
    text-decoration: line-through;
}

.platforms{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 100%;
    padding-top: 22px;
}

.actual-container{
  height: 310px;
  margin: 0 auto;
}

.swiper-wrapper{
  position: relative;
}

.swiper-wrapper .swiper-slide{
  display: flex; 
  height: 276px;
  justify-content: center;
  transition: all .6s ease;
}

.swiper-wrapper .swiper-slide:hover{
  box-shadow: 0px 2px 0px 0px rgba(91, 157, 255, 1);
}

.swiper-wrapper .swiper-slide:hover{
  transform: scale(1.03);
  position: relative;
  z-index: 1;
}

.actual-banner-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.actual-banner-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.actual-banner-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}


.swiper-pagination-bullet{
  width: 10px !important;
  height: 10px !important;
  background-color: transparent !important;
  border: 1px solid #FFFFFF !important;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet-active {
  background: #fff !important;
}

.actual-icons{
 display: flex;
 width: 100%;
 justify-content: end;
 gap: 10px;
 margin-right: 30px;
}

.small-platforms-logo{
  width: 13px;
  height: 19px;
}

.actual-game-info{
  display: flex;
  flex-direction: column;
  width: 90%;
  font-weight: 600;
  color: var(--color-light);
}

.actual-game-bottom{
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: end;
  margin-bottom: 22px;
}

.actual-game-name{
  font-size: 21;
}

.actual-game-price{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue);
  min-width: 70px;
  height: 41px;
  border-radius: var(--border-radius);

  font-size: 16;
}

.actual_list{
  display: flex;
  align-items: center;
}

.actual_img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.actual_name{
  font-weight: 600;
  font-size: 21px;
  color: var(--color-light);
}

/* Top offers */
.top-offers-name{
  display: flex;
  justify-content: center;
  margin-top: 173px;
}

.top-offers-website-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 100;
  width: 296px;
  line-height: 100px !important;
}

.nav-category-container{
  display: flex;
  padding-top: 133px;
  justify-content: center;
}

.nav-category{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 724px;
  height: 46px;
  box-sizing: border-box;
}

.nav-item-category{
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 8px 21px;
  color: var(--color-light);
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  border-radius: var(--border-radius);
}

.is-current-category{
  background-color: #222222;
  font-weight: 600;
}

.container-cards{
  display: flex;
  justify-content: center;
}

.offer-cards{
  display: flex;
  justify-content: center;
  max-width: 94%;
  width: 1280px;
  padding-top: 69px;
  gap: 58px 50px;
  flex-wrap: wrap;
}

.card{
  position: relative;
  border-radius: var(--border-radius);
  width: 244px;
  height: 337px;
  transition: transform 0.3s ease;
}

.card:hover{
  transform: scale(1.05);
}

.card-img{
  position: absolute;
  z-index: -2;
}

.card-top{
  display: flex;
  justify-content: space-between;
}

.dlc-tag-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 19px;
  background-color: #000000;
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.dlc-tag{
  font-weight: 600;
  font-size: 8px;
  color: var(--color-blue);
  text-decoration: none;
}

.card-platforms{
  display: flex;
  justify-content: end;
  gap: 0 5px;
  padding-right: 10px;
}

.card-bottoom{
  height: 62px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: rgba(11, 11, 11, 50%);
}

.card-inner-top{
  display: flex;
  justify-content: space-between;
}

.card-title{
  font-weight: 600;
  font-size: 10;
  color: var(--color-light);
  padding-top: 10px;
  margin-left: 10px;
  width: 180px;
}

.favourite{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-right: 10px;
}

.favourite-img{
  width: 20px;
  height: 25px;
}

.heart-favourite{
  position: absolute;
  top: 6px;
}

.card-inner-bottom{
  position: relative;
}

.card-bottom-container{
  display: flex;
  justify-content: space-between;
  padding: 8px 10px 0px 10px;
}

.rating-tag{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 21px;
  border-radius: 2px;
  color: #F1BB2E;
  font-weight: 600;
  font-size: 10px;
  background-color: rgba(241, 187, 46, 0.1);

  gap: 0 4px;
}

.rating-star{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-button-action{
  display: flex;
  height: 20px;
  font-size: 9px;
  font-weight: 700;
}

.card-price{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  color: var(--color-blue);
  height: 100%;
  width: 57px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.card-button{
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: var(--color-blue);
  color: var(--color-light);
  width: 100px;
  height: 100%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.card-not-active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.3);
}

.card-not-active .card-title {
  opacity: 0.3;
}

.card-not-active .card-img img {
  opacity: 0.3;
}

.card-not-active .small-platforms-logo {
  opacity: 0.3;
}

.card-not-active .card-button {
  opacity: 0.3;
}

.card-info-not-ative{
  display: flex;
  position: absolute;
  width: 100%;
  font-weight: 700;
  font-size: 20;
  justify-content: center;
  bottom: 66px;
  color: var(--color-light);
  opacity: 0.3;
}

.notify-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: var(--color-light);
  font-weight: 700;
  font-size: 16;
  width: 142px;
  height: 100%;
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border: none;
  cursor: pointer;
}

.subscribe-banner{
  display: flex;
  justify-content: center;
  margin-top: 165px;
  margin-bottom: 86px;
}

.subscribe-container{
  position: relative;
  width: 1347px;
  height: 394px;
  max-width: 94%;
  background-color: #121212;
  border-radius: var(--border-radius);
}

.subscribe-inner{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.2), rgba(0,0,0,0));
  border-radius: var(--border-radius);
}

.sub-left{
  margin-left: 124px;
  padding-top: 120px;
  width: 466px;
  line-height: 0.9;
}

.follow-text{
  color: var(--color-light);
  font-weight: 700;
  font-size: 18;
  padding: 0;
}

.sub-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.sub-title{
  color: var(--color-light);
  font-weight: 700;
  font-size: 100;
}

.sub-banner{
  position: absolute;
  height: 490px;
  display: block;
  object-fit: cover;
  bottom: 0px;
  right: 0px;
  z-index: 1;

  transform: translate(50px, 0px);
}

.sub-button-container{
  display: flex;
  justify-content: center;
  padding-top: 40px;
  width: 100%;
}

.sub-button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #D01A1A;
  color: var(--color-light);
  font-weight: 700;
  font-size: 25;
  width: 148px;
  height: 58px;
  border-radius: var(--border-radius);
}

/* Footer */

.footer{
  background: #000000 linear-gradient(to top, rgba(91, 157, 255, 0.15) 0%, rgba(91, 157, 255, 0) 40%);
  height: 323px;
  padding: 10px 0 21px;
  border-bottom: solid 6px var(--color-blue);

  display: flex;
  justify-content: center;
}

.footer-inner{
  margin-bottom: 4px;
  display: grid;
  grid-template-columns: 304px 198px 289px;
  gap: 0 167px;
}

.footer-contact-title, .footer-navigation-title, .footer-social-title{
  font-weight: 700;
  font-size: 24;
  color: var(--color-light);
  margin-bottom: 27px;
}

.footer-contact-title{
  display: flex;
  justify-content: center;
}

.email-logo{
  width: 24px;
  aspect-ratio: 1;
}

.footer-contact-item{
  display: flex;
  align-items: center;
}

.contact-item-text{
  text-decoration: none;
  color: var(--color-light);
  font-weight: 500;
  font-size: 16;
  padding-left: 18px;
}

.footer-navigation.footer-navigation-item{
  list-style-type: circle;
  margin-left: 10px;
}

.footer-navigation-item{
  margin-bottom: 29px;
}

.footer-navigation-link{
  text-decoration: none;
  color: var(--color-light);
  font-weight: 500;
  font-size: 16;
}

.footer-navigation-item,
.footer-navigation-item-last {
  position: relative;
  padding-left: 17px;
}

.footer-navigation-item::before,
.footer-navigation-item-last::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: var(--color-blue);
  border-radius: 50%;
}

.footer-social-title{
  display: flex;
  justify-content: center;
}

.footer-social-icons{
  display: flex;
  align-items: center;
  gap: 0 36px;
}

.footer-bottom{
  display: flex;
  justify-content: end;

}

.footer-copy{
  color: var(--color-light);
  font-weight: 500;
  font-size: 20;
  transform: translate(125px, 0px);
}

.hidden{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
}

.visible{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
























.red-text{
  color: #D01A1A;
}

.green-text{
  margin-left: 8px;
  color: #5AF014;
}

.blue-text{
  color: var(--color-blue);
}

.blue-name{
  color: var(--color-blue);
}

.white-name{
  color: var(--color-light);
}



:root{
    --color-blue: #5b9dff;
    --color-gray: #928F8F;
    --color-darkgray: #494949;
    --color-light: #FFFFFF;

    --border-radius: 5px;

    --transition-duration: 0.2s;

    --header-top-height: 61px;

    --header-bottom-content: 45px;


}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }